@charset "UTF-8";
/*Estilos generales*/
/* Establece el tamaño base de la fuente en el 62.5% del tamaño por defecto */
html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Elimina márgenes y rellenos*/
* {
  margin: 0px;
  padding: 0px;
}

/* Establece una altura mínima del 100% del viewport height */
main {
  min-height: 100vh;
}
main section a {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: crimson;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 1.8rem;
  border-radius: 5px;
  position: absolute;
  bottom: 20px;
}

/* Estilos generales del cuerpo de la página */
body {
  background-color: #ffffff;
  color: #333333;
  background-image: linear-gradient(to right bottom, #dc143c, #ee608e, #ec9ccd, #ebd1f2, #ffffff);
}

/* Estilos para párrafos */
p {
  text-align: justify;
  font-size: 2rem;
}

/* Estilos para el título de las paginas en general */
h1 {
  font-size: 3.5rem;
  text-decoration: underline;
  text-align: center;
  padding-top: 30px;
}

/* Estilos para subtítulos de las paginas en general */
h2 {
  font-size: 2.5rem;
}

/* Estilos para subtítulos grises */
.subtitulo {
  color: #808080;
  text-align: center;
}

/* Estilos para títulos de servicios */
h3 {
  font-size: 2.2rem;
  text-decoration: solid underline;
}

/*header*/
header {
  position: sticky;
  top: 0%;
  z-index: 1000;
}
header .header-mio {
  background-color: #dc143c;
  font-size: 2.5rem;
}
header .header-mio a {
  color: #ffffff;
}
header .header-mio a:hover {
  text-decoration: underline;
}
header .header-mio .nav-titulo {
  font-size: 3rem;
  margin-left: auto;
  color: #ffffff;
}

/*Footer*/
/* Estilos para el pie de página */
footer {
  background-color: #dc143c;
}
footer p {
  font-size: 2rem;
  color: #ffffff;
}
footer .flex-footer {
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  margin-left: 100px;
}
footer .flex-footer .redes-sociales {
  width: 40px;
  height: 40px;
}

/*INDEX*/
.banner {
  width: 100%;
  height: 400px;
}

.flex-index {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px;
}
.flex-index .bienvenido {
  line-height: 27px;
  text-align: justify;
  width: 600px;
  text-align: center;
  margin: 50px;
}
.flex-index .empresa {
  width: 720px;
  height: 500px;
}

/*SERVICIOS*/
.banner-servicios {
  width: 100%;
  height: 400px;
}

.parrafo-servicios {
  padding-top: 50px;
  padding-bottom: 150px;
  padding-left: 300px;
  padding-right: 300px;
  line-height: 30px;
}

.contenedor-servicios {
  display: grid;
  grid-template-areas: "img1 img2 img3" "img4 img5 img6";
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 400px 400px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  row-gap: 20px;
  padding-bottom: 50px;
}
.contenedor-servicios .servicios {
  background-color: #faebd7;
  width: 300px;
  height: 400px;
  text-align: center;
  border: 5px solid #000000;
  padding: 20px;
  margin: 20px;
}
.contenedor-servicios .servicios .aclaracion {
  color: #808080;
  text-align: center;
  font-size: 1.9rem;
}

/*NOSOTROS*/
.contenedor-nosotros {
  display: grid;
  grid-template-areas: "texto1 img1" "texto2 texto2";
  grid-template-columns: 50% 30%;
  grid-template-rows: 600px 350px;
  justify-content: space-evenly;
  justify-items: end;
  padding-top: 30px;
  padding-bottom: 30px;
}
.contenedor-nosotros .imgalderete {
  grid-area: img1;
}
.contenedor-nosotros .texto1-nosotros {
  grid-area: texto1;
}
.contenedor-nosotros .texto2-nosotros {
  grid-area: texto2;
}

/*OPIONIONES*/
.parrafo-opiniones {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contenedor-opiniones {
  display: grid;
  grid-template-areas: "opinion1 marca1" "marca2   opinion2" "opinion3 marca3" "marca4   opinion4" "opinion5 marca5";
  grid-template-columns: 40% 40%;
  grid-template-rows: 850px repeat(4, 850px);
  justify-content: center;
  justify-items: center;
  align-items: center;
  row-gap: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.contenedor-opiniones .opiniones {
  background-color: #faebd7;
  width: 400px;
  text-align: center;
  border: 5px solid #000000;
  padding: 10px;
  margin: 10px;
}
.contenedor-opiniones .opiniones .foto-cliente {
  width: 300px;
  height: 450px;
}
.contenedor-opiniones .opiniones .clientes {
  text-decoration: underline;
}
.contenedor-opiniones .opiniones p {
  text-align: center;
}
.contenedor-opiniones .cliente1 {
  grid-area: opinion1;
}
.contenedor-opiniones .cliente2 {
  grid-area: opinion2;
}
.contenedor-opiniones .cliente3 {
  grid-area: opinion3;
}
.contenedor-opiniones .cliente4 {
  grid-area: opinion4;
}
.contenedor-opiniones .cliente5 {
  grid-area: opinion5;
}
.contenedor-opiniones .logo-cliente1 {
  grid-area: marca1;
}
.contenedor-opiniones .logo-cliente2 {
  grid-area: marca2;
}
.contenedor-opiniones .logo-cliente3 {
  grid-area: marca3;
}
.contenedor-opiniones .logo-cliente4 {
  grid-area: marca4;
}
.contenedor-opiniones .logo-cliente5 {
  grid-area: marca5;
}

/*CONTACTO*/
.titulo-formulario {
  display: block;
  margin: 20px auto;
  background-color: #dc143c;
  color: #ffffff;
  text-align: center;
  margin-top: 75px;
  padding: 10px 20px;
  text-align: center;
  border: 2px solid #000000;
  border-radius: 5px;
  max-width: 20%;
}

.flex-contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  padding-top: 50px;
}
.flex-contacto .formulario {
  width: 25vw;
  border: 5px solid #000000;
  padding: 10px;
  margin: 10px;
  font-size: 1.8rem;
}
.flex-contacto .formulario input {
  width: 100%;
}
.flex-contacto .formulario textarea {
  width: 100%;
}

/*MEDIA Q MOBILE*/
@media only screen and (max-width: 480px) {
  /*INDEX*/
  .nav-titulo {
    font-size: 2.5rem;
    text-align: center;
  }
  .banner {
    height: 150px;
  }
  .flex-index {
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 20px;
    flex-grow: 1;
  }
  .flex-index .bienvenido {
    font-size: 1.5rem;
    width: 95%;
    text-align: justify;
  }
  .flex-index .empresa {
    max-width: 95%;
    height: auto;
  }
  /*SERVICIOS*/
  .banner-servicios {
    height: 150px;
  }
  .subtitulo {
    font-size: 1.9rem;
  }
  .parrafo-servicios {
    font-size: 1.5rem;
    text-align: justify;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 25px;
  }
  .contenedor-servicios {
    display: grid;
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6";
    grid-template-columns: 50%;
    grid-template-rows: 400px repeat(5, 400px);
    align-items: center;
  }
  .contenedor-servicios .servicios {
    width: 250px;
    height: 350px;
    padding: 5px;
    margin: 10px;
  }
  .contenedor-servicios .servicios h3 {
    font-size: 2rem;
  }
  .contenedor-servicios .servicios .aclaracion {
    font-size: 1.4rem;
  }
  /*NOSOTROS*/
  .contenedor-nosotros {
    display: grid;
    grid-template-areas: "texto1" "img1" "texto2";
    grid-template-columns: 95%;
    grid-template-rows: 990px 550px 690px;
    justify-items: center;
    align-items: center;
  }
  .contenedor-nosotros .imgalderete {
    max-width: 100%;
  }
  .contenedor-nosotros .texto1-nosotros p {
    font-size: 1.5rem;
  }
  .contenedor-nosotros .texto2-nosotros p {
    font-size: 1.5rem;
  }
  /*OPINIONES*/
  .parrafo-opiniones {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 1.5rem;
  }
  .contenedor-opiniones {
    grid-template-areas: "marca1" "opinion1" "marca2" "opinion2" "marca3" "opinion3" "marca4" "opinion4" "marca5" "opinion5";
    grid-template-columns: 95%;
    grid-template-rows: 450px 850px repeat(4, 450px 850px);
  }
  .contenedor-opiniones .opiniones {
    max-width: 100%;
  }
  .contenedor-opiniones .logo-cliente1 {
    max-width: 100%;
  }
  .contenedor-opiniones .logo-cliente2 {
    max-width: 100%;
  }
  .contenedor-opiniones .logo-cliente3 {
    max-width: 100%;
  }
  .contenedor-opiniones .logo-cliente4 {
    max-width: 100%;
  }
  .contenedor-opiniones .logo-cliente5 {
    max-width: 100%;
  }
  .contenedor-opiniones .foto-cliente {
    max-width: 100%;
  }
  /*CONTACTO*/
  .titulo-formulario {
    max-width: 80%;
    text-align: center;
    margin-top: 40px;
    font-size: 2rem;
  }
  .flex-contacto {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    row-gap: 20px;
  }
  .flex-contacto .formulario {
    width: 95%;
  }
  iframe {
    width: 100%;
  }
}
/*TABLET*/
@media only screen and (min-width: 481px) and (max-width: 1050px) {
  /*INDEX*/
  .nav-titulo {
    font-size: 2.5rem;
    text-align: center;
  }
  .banner {
    height: 150px;
  }
  .flex-index {
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 20px;
    flex-grow: 1;
  }
  .flex-index .bienvenido {
    font-size: 1.5rem;
    width: 95%;
    text-align: justify;
  }
  .flex-index .empresa {
    max-width: 95%;
    height: auto;
  }
  /*SERVICIOS*/
  .banner-servicios {
    height: 150px;
  }
  .subtitulo {
    font-size: 2.1rem;
  }
  .parrafo-servicios {
    font-size: 1.5rem;
    text-align: justify;
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 25px;
  }
  .contenedor-servicios {
    display: grid;
    grid-template-areas: "img1" "img2" "img3" "img4" "img5" "img6";
    grid-template-columns: 50%;
    grid-template-rows: 400px repeat(5, 400px);
    align-items: center;
  }
  .contenedor-servicios .servicios {
    width: 250px;
    height: 350px;
    padding: 5px;
    margin: 10px;
  }
  .contenedor-servicios .servicios h3 {
    font-size: 2rem;
  }
  .contenedor-servicios .servicios .aclaracion {
    font-size: 1.5rem;
  }
  /*NOSOTROS*/
  .contenedor-nosotros {
    display: grid;
    grid-template-areas: "texto1" "img1" "texto2";
    grid-template-columns: 95%;
    grid-template-rows: 650px 550px 470px;
    justify-items: center;
    align-items: center;
  }
  .contenedor-nosotros .texto1-nosotros p {
    font-size: 1.5rem;
  }
  .contenedor-nosotros .texto2-nosotros p {
    font-size: 1.5rem;
  }
  /*OPINIONES*/
  .parrafo-opiniones {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 1.5rem;
  }
  .contenedor-opiniones {
    grid-template-areas: "marca1" "opinion1" "marca2" "opinion2" "marca3" "opinion3" "marca4" "opinion4" "marca5" "opinion5";
    grid-template-columns: 95%;
    grid-template-rows: 450px 850px repeat(4, 450px 850px);
  }
  /*CONTACTO*/
  .titulo-formulario {
    max-width: 80%;
    text-align: center;
    margin-top: 40px;
    font-size: 2rem;
  }
  .flex-contacto {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    row-gap: 20px;
  }
  .flex-contacto .formulario {
    width: 95%;
  }
  iframe {
    width: 100%;
  }
}

/*# sourceMappingURL=estilos.css.map */
