/* Establece el tamaño base de la fuente en el 62.5% del tamaño por defecto */
html {
    font-size: 62.5%;
}

/* Elimina márgenes y rellenos*/
* {
    margin: 0px;
    padding: 0px;
}

/* Estilos para el encabezado */
.header-mio {
    background-color: #dc143c;
    font-size: 2.0rem;
}

.header-mio a{
    color: white;
}

header{
    position: sticky;
    top: 0%;
}

.nav-titulo{
    font-size: 3.5rem;
    margin-left: auto;
    color: #ffffff;
}

/* Establece una altura mínima del 100% del viewport height */
main {
    min-height: 100vh;
}

/* Estilos generales del cuerpo de la página */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(242, 241, 241);
    color: #333333;
}

/*INDEX*/
/* Estilos para flex del index */
.flex-index {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px;
}

/* Párrafo de bienvenida */
.bienvenido {
    line-height: 27px;
    text-align: justify;
    width: 600px;
    text-align: center;
    margin: 50px;
}

/* Banner de la sección index */
.banner {
    width: 100%;
    height: 400px;
}

/* Estilos para el título de las paginas en general */
.titulo {
    font-size: 3.5rem;
    text-decoration: underline;
    text-align: center;
    padding-top: 30px;
}

/* Estilos para subtítulos de las paginas en general */
h2 {
    font-size: 2.5rem;
}

/* Estilos para subtítulos grises */
.subtitulo {
    color: #808080;
    text-align: center;
    font-size: 2.5rem;
}

/* Estilos para párrafos */
p {
    text-align: justify;
    font-size: 2.0rem;
}

/* Imagen empresa index */
.empresa {
    width: 720px;
    height: 500px;
}

/* Boton en pie de paginas */
main section a {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: crimson;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-size: 1.8rem;
    border-radius: 5px;
}

/*PÁGINA SERVICIOS*/
/* Banner de servicios */
.banner-servicios {
    width: 100%;
    height: 400px;
}

/* Parrafo de servicios */
.parrafo-servicios{
    padding-top: 50px;
    padding-bottom: 150px;
    padding-left: 300px;
    padding-right: 300px;
    line-height: 30px;
}

/* Grid para la sección de servicios */
.contenedor-servicios{
    display: grid;
    grid-template-areas: 
    "img1 img2 img3"
    "img4 img5 img6";
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 400px 400px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 20px;
    padding-bottom: 50px;
}

/* Cuadro contenedor de servicios */
.servicios {
    background-color: #faebd7;
    width: 300px;
    height: 400px;
    text-align: center;
    border: 5px solid #000000; 
    padding: 20px; 
    margin: 20px;
}

/* Detalle del tipo de servicio */
.aclaracion {
    color: #808080;
}

/* Párrafos de servicios */
.servicios p {
    text-align: center;
    font-size: 1.9rem;
}

/* Estilos para títulos de servicios */
h3{
    font-size: 2.2rem;
    text-decoration: solid underline;
}

/* PÁGINA NOSOTROS */
/* Grid para la sección de nosotros */
.contenedor-nosotros{
    display: grid;
    grid-template-areas: 
    "texto1 img1"
    "texto2 texto2";
    grid-template-columns: 50% 30%;
    grid-template-rows: 600px 350px;
    justify-content: space-evenly;
    justify-items: end;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Imagen contadora */
.imgalderete{
    grid-area: img1;
}

/* Párrafos de la historia de nosotros */
.texto1-nosotros{
    grid-area: texto1;
}

.texto2-nosotros{
    grid-area: texto2;
}

/* PÁGINA DE OPINIONES */
/* Nombres de clientes */
.clientes {
    text-decoration: underline;
}

/* Imagen del cliente */
.foto-cliente {
    width: 300px;
    height: 450px;
}

/* Párrafo de presentación de página */
.parrafo-opiniones{
margin-left: 300px;
margin-right: 300px;
margin-top: 50px;
margin-bottom: 50px;
}

/* Cuadro contenedor de opiniones */
.opiniones {
    background-color: #faebd7;
    width: 400px;
    text-align: center;
    border: 5px solid #000000; 
    padding: 10px; 
    margin: 10px;
}

/* Estilo párrafo opiniones */
.opiniones p{
    text-align: center;
}

/* Grid para la sección de opiniones */
.contenedor-opiniones{
    display: grid;
    grid-template-areas: 
    "opinion1 marca1"
    "marca2   opinion2"
    "opinion3 marca3"
    "marca4   opinion4"
    "opinion5 marca5";
    grid-template-columns: 40% 40%;
    grid-template-rows: 850px repeat(4,850px);
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Ubicaciones en grid */
.cliente1{
    grid-area: opinion1;
}

.cliente2{
    grid-area: opinion2;
}

.cliente3{
    grid-area: opinion3;
}

.cliente4{
    grid-area: opinion4;
}

.cliente5{
    grid-area: opinion5;
}

.logo-cliente1{
    grid-area: marca1;
}

.logo-cliente2{
    grid-area: marca2;
}

.logo-cliente3{
    grid-area: marca3;
}

.logo-cliente4{
    grid-area: marca4;
}

.logo-cliente5{
    grid-area: marca5;
}

/* PÁGINA CONTACTO */
/* Flex página contacto*/
.flex-contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 50px;
}

/* Titulo para dejar mensaje */
.titulo-formulario{
    display: block;
    margin: 20px auto;
    background-color: #dc143c;
    color: #ffffff;
    text-align: center;
    margin-top: 75px;
    padding: 10px 20px;
    text-align: center;
    border: 2px solid #000000;
    border-radius: 5px;
    max-width: 20%
}

/* Estilos para el formulario */
.formulario {
    width: 25vw;
    border: 5px solid #000000; 
    padding: 10px; 
    margin: 10px;
    font-size: 1.8rem;
}

/* Ajusta cajas del formulario */
.formulario input {
    width: 100%;
  }

.formulario textarea {
    width: 100%;
  }

/* FOOTER */
/* Estilos para el pie de página */
footer {
    background-color: #dc143c;
}

/* Párrafos del pie de página */
footer p {
    font-size: 2.0rem;
    color: #ffffff;
}

/* Estilos para iconos de redes sociales */
.redes-sociales {
    width: 40px;
    height: 40px;
}

/* Flex en footer*/
.flex-footer{
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
}

 /* Media Q mobile*/
@media only screen and (max-width: 480px){

    /* PÁGINA INDEX */

    .nav-titulo{
        font-size: 2.5rem;
        text-align: center;
    }

    .titulo{
        font-size: 2.3rem;
    }

    .subtitulo{
        font-size: 2.1rem;
    }

    .banner{
        height: 150px;
    }
    
    .flex-index{
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding-top: 20px;
        flex-grow: 1;        
    }

    .bienvenido{
        font-size: 1.5rem;
        width: 95%;
        text-align: justify;
    }

    .empresa{
        max-width: 95%; 
        height: auto; 
    }

    /* PÁGINA SERVICIOS */

    .banner-servicios{
        height: 150px;
    }

    .parrafo-servicios{
        font-size: 1.5rem;
        text-align: justify;
        padding-top: 30px;
        padding-bottom: 40px;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 25px;
    }

    .contenedor-servicios{
        display: grid;
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6";
        grid-template-columns: 50%;
        grid-template-rows: 400px repeat(5,400px);
        align-items: center;
    }

    .servicios{
        width: 250px;
        height: 350px;
        padding: 5px;
        margin: 10px;
    }

    .servicios h3{
        font-size: 2.0rem;
    }

    .servicios p{
        font-size: 1.5rem;
    }

    /* PÁGINA NOSOTROS */

    .contenedor-nosotros{
        display: grid;
        grid-template-areas: 
        "texto1"
        "img1"
        "texto2";
        grid-template-columns: 95%;
        grid-template-rows: 990px 550px 690px;
        justify-items: center;
        align-items: center;
    }

    .texto1-nosotros p{
        font-size: 1.5rem;
    }
    
    .texto2-nosotros p{
        font-size: 1.5rem;
    }

    .imgalderete{
        max-width: 100%;
    }

    /* PÁGINA OPINIONES */

    .parrafo-opiniones{
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 40px;
        margin-bottom: 0px;
        font-size: 1.5rem;
        }

    .contenedor-opiniones{
        grid-template-areas: 
        "marca1"
        "opinion1"
        "marca2"
        "opinion2"
        "marca3"
        "opinion3"
        "marca4"
        "opinion4"
        "marca5"
        "opinion5";
        grid-template-columns: 95%;
        grid-template-rows: 450px 850px repeat(4,450px 850px);
    }

    .opiniones{
        max-width: 100%;
    }

    .logo-cliente1{
        max-width: 100%;
    }
    
    .logo-cliente2{
        max-width: 100%;
    }
    
    .logo-cliente3{
        max-width: 100%;
    }
    
    .logo-cliente4{
        max-width: 100%;
    }
    
    .logo-cliente5{
        max-width: 100%;
    }

    .foto-cliente {
        max-width: 100%;
    }

    /* PÁGINA CONTACTO */

    .titulo-formulario{
        max-width: 80%;
        text-align: center;
        margin-top: 40px;
        font-size: 2.0rem;
    }

    .flex-contacto{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
        row-gap: 20px;
    }

    .formulario{
        width: 95%;
    }

    iframe{
        width: 100%;
    }
        
}


@media only screen and (min-width: 481px) and (max-width: 1050px){

    /* PÁGINA INDEX */

    .nav-titulo{
        font-size: 2.5rem;
        text-align: center;
    }

    .titulo{
        font-size: 2.3rem;
    }

    .subtitulo{
        font-size: 2.1rem;
    }

    .banner{
        height: 150px;
    }

    .flex-index{
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding-top: 20px;
        flex-grow: 1;        
    }

    .bienvenido{
        font-size: 1.5rem;
        width: 95%;
        text-align: justify;
    }

    .empresa{
        max-width: 95%;
        height: auto;
    }

    /* PÁGINA SERVICIOS */

    .banner-servicios{
        height: 150px;
    }

    .parrafo-servicios{
        font-size: 1.5rem;
        text-align: justify;
        padding-top: 30px;
        padding-bottom: 40px;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 25px;
    }

    .contenedor-servicios{
        display: grid;
        grid-template-areas: 
        "img1"
        "img2"
        "img3"
        "img4"
        "img5"
        "img6";
        grid-template-columns: 50%;
        grid-template-rows: 400px repeat(5,400px);
        align-items: center;
    }

    .servicios{
        width: 250px;
        height: 350px;
        padding: 5px;
        margin: 10px;
    }

    .servicios h3{
        font-size: 2.0rem;
    }

    .servicios p{
        font-size: 1.5rem;
    }

    /* PÁGINA NOSOTROS */

    .contenedor-nosotros{
        display: grid;
        grid-template-areas: 
        "texto1"
        "img1"
        "texto2";
        grid-template-columns: 95%;
        grid-template-rows: 650px 550px 470px;
        justify-items: center;
        align-items: center;
    }

    .texto1-nosotros p{
        font-size: 1.5rem;
    }

    .texto2-nosotros p{
        font-size: 1.5rem;
    }

    /* PÁGINA OPINIONES */

    .parrafo-opiniones{
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 40px;
        margin-bottom: 0px;
        font-size: 1.5rem;
        }

    .contenedor-opiniones{
        grid-template-areas: 
        "marca1"
        "opinion1"
        "marca2"
        "opinion2"
        "marca3"
        "opinion3"
        "marca4"
        "opinion4"
        "marca5"
        "opinion5";
        grid-template-columns: 95%;
        grid-template-rows: 450px 850px repeat(4,450px 850px);
    }

    /* PÁGINA CONTACTO */
    
    .titulo-formulario{
        max-width: 80%;
        text-align: center;
        margin-top: 40px;
        font-size: 2.0rem;
    }

    .flex-contacto{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        padding-bottom: 50px;
        row-gap: 20px;
    }

    .formulario{
        width: 95%;
    }

    iframe{
        width: 100%;
    }
        
        
}
