/* Establece el tamaño base de la fuente en el 62.5% del tamaño por defecto */
html {
    font-size: 62.5%;
}

/* Elimina márgenes y rellenos por defecto*/
* {
    margin: 0px;
    padding: 0px;
}

/* Estilos para el encabezado */
.header-mio {
    background-color: crimson;
    font-size: 2.0rem;
}

.header-mio a{
    color: white;
}

header{
    position: sticky;
    top: 0%;
}

/* Establece una altura mínima del 100% del viewport height */
main {
    min-height: 101vh;
}

/* Estilos generales del cuerpo de la página */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(242, 241, 241);
    color: #333333;
}

/* Estilos para la sección específica del índice */
.flex-index {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px;
}

/* Estilos para el párrafo de bienvenida */
.bienvenido {
    line-height: 27px;
    text-align: justify;
    width: 600px;
    text-align: center;
    margin: 50px;
}

/* Estilos para el banner de la sección */
.banner {
    width: 100%;
    height: 400px;
}

/* Estilos para el título de la sección */
.titulo {
    font-size: 3.5rem;
    text-decoration: underline;
    text-align: center;
    padding-top: 30px;
}

/* Estilos para subtítulos */
h2 {
    font-size: 2.5rem;
}

/* Estilos para subtítulos grises */
.subtitulo {
    color: grey;
    text-align: center;
    font-size: 2.5rem;
}

/* Estilos para párrafos de texto justificado */
p {
    text-align: justify;
    font-size: 2.0rem;
}

/* Estilos para la imagen de la empresa */
.empresa {
    width: 720px;
    height: 500px;
}

/* Estilos para texto de aclaración en gris */
.aclaracion {
    color: grey;
}

/* Estilos para texto de clientes subrayado */
.clientes {
    text-decoration: underline;
}

/* Estilos para la imagen del cliente */
.foto-cliente {
    width: 300px;
    height: 450px;
}

/* Estilos para la sección de opiniones */
.opiniones {
    background-color: antiquewhite;
    width: 400px;
    text-align: center;
    border: 5px solid black; 
    padding: 10px; 
    margin: 10px;
}

/* Estilos de grid para la sección de opiniones */
.contenedor-opiniones{
    display: grid;
    grid-template-areas: 
    "opinion1 marca1"
    "marca2   opinion2"
    "opinion3 marca3"
    "marca4   opinion4"
    "opinion5 marca5";
    grid-template-columns: 40% 40%;
    grid-template-rows: 400px*2;
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.cliente1{
    grid-area: opinion1;
}

.cliente2{
    grid-area: opinion2;
}

.cliente3{
    grid-area: opinion3;
}

.cliente4{
    grid-area: opinion4;
}

.cliente5{
    grid-area: opinion5;
}

.logo-cliente1{
    grid-area: marca1;
}

.logo-cliente2{
    grid-area: marca2;
}

.logo-cliente3{
    grid-area: marca3;
}

.logo-cliente4{
    grid-area: marca4;
}

.logo-cliente5{
    grid-area: marca5;
}

/* Estilos para el banner de servicios */
.banner-servicios {
    width: 100%;
    height: 400px;
}

/* Estilos para el parrafo de servicios */
.parrafo-servicios{
    padding-top: 50px;
    padding-bottom: 150px;
    padding-left: 300px;
    padding-right: 300px;
    line-height: 30px;
}

/* Estilos de grid para la sección de servicios */
.contenedor-servicios{
    display: grid;
    grid-template-areas: 
    "img1 img2 img3"
    "img4 img5 img6";
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 400px 400px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    row-gap: 20px;
    padding-bottom: 50px;
}

/* Estilos para la sección de servicios */
.servicios {
    background-color: antiquewhite;
    width: 300px;
    height: 400px;
    text-align: center;
    border: 5px solid black; 
    padding: 20px; 
    margin: 20px;
}

/* Estilos para títulos de servicios */
h3{
    font-size: 2.2rem;
    text-decoration: solid underline;
}

/* Estilos para párrafos de servicios */
.servicios p {
    text-align: center;
    font-size: 1.9rem;
}

/* Estilos de grid para la sección de nosotros */
.contenedor-nosotros{
    display: grid;
    grid-template-areas: 
    "texto1 img1"
    "texto2 texto2";
    grid-template-columns: 50% 30%;
    grid-template-rows: 600px 350px;
    justify-content: space-evenly;
    justify-items: end;
    padding-top: 30px;
    padding-bottom: 30px;
}

.imgalderete{
    grid-area: img1;
}

.texto1-nosotros{
    grid-area: texto1;
}

.texto2-nosotros{
    grid-area: texto2;
}

/* Estilos para enlaces en secciones principales */
main section a {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: crimson;
    color: aliceblue;
    text-align: center;
    text-decoration: none;
    font-size: 1.8rem;
    border-radius: 5px;
}

.flex-contacto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 50px;
}

.titulo-formulario{
    display: block;
    margin: 20px auto;
    background-color: crimson;
    color: aliceblue;
    text-align: center;
    margin-left: 330px;
    margin-top: 75px;
    padding: 10px 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    max-width: 20%
}

/* Estilos para el formulario */
.formulario {
    width: 25vw;
    border: 5px solid black; 
    padding: 10px; 
    margin: 10px;
    font-size: 1.8rem;
}

/* Estilos para el pie de página */
footer {
    background-color: crimson;
}

/* Estilos para párrafos del pie de página */
footer p {
    font-size: 2.0rem;
    color: white;
}

/* Estilos para iconos de redes sociales */
.redes-sociales {
    width: 40px;
    height: 40px;
}

/* Estilos para*/
.flex-footer{
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
}

 /*Color viejo bc66c7*/